.DS_Store
.gradle
.idea
.intellijPlatform
.kotlin
build

# rust
target

# java
src/main/java/com/novi/*/*.java
src/main/java/com/github/ixmoyren/typalize/ASTNode.java
src/main/java/com/github/ixmoyren/typalize/Token.java
src/main/java/com/github/ixmoyren/typalize/TraitHelpers.java

# wasm-tools
.tools

# wasm source
src/main/resources/wasm/*.wasm

# bindgen
src/main/kotlin/com/github/ixmoyren/typilot/Typalize.kt
src/main/resources/linux-x86-64/libtypalize.so
src/main/resources/win32-x86-64/typalize.dll