.DS_Store
.gradle
.idea
.intellijPlatform
.kotlin
build

# rust
target

# bindgen
src/main/kotlin/com/github/ixmoyren/typilot/Typalize.kt
src/main/resources/linux-x86-64/libtypalize.so
src/main/resources/win32-x86-64/typalize.dll