.DS_Store
.gradle
.idea
.intellijPlatform
.kotlin
build

# rust
target

# java
src/main/java/com/novi/*/*.java
src/main/java/com/github/ixmoyren/typalize/ASTNode.java
src/main/java/com/github/ixmoyren/typalize/ASTNodes.java
src/main/java/com/github/ixmoyren/typalize/Token.java
src/main/java/com/github/ixmoyren/typalize/Tokens.java
src/main/java/com/github/ixmoyren/typalize/TraitHelpers.java
src/main/java/com/github/ixmoyren/typalize/TypstSyntaxKind.java

# wasm-tools
.tools

# wasm source
src/main/resources/wasm/*.wasm